# Possibly helpful commands (for future me - when I forget):
# git submodule update --init --recursive
# git submodule add git://github.com/sakydpozrux/<repo_name>.git <subdirectory_name>

[submodule "ROR-course_1_QuickBlog"]
	path = ROR_1_QuickBlog
  url = git@github.com:sakydpozrux/ROR-course_1_QuickBlog.git

[submodule "ROR-course_2_BlogWithValidations"]
  path = ROR_2_BlogWithValidations
  url = git@github.com:sakydpozrux/ROR-course_2_BlogWithValidations.git
